* {
    /* box-sizing: border-box; */
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    border: none;
    margin: 0px;
    padding: 0px;
}

a, a:hover {
    text-decoration: none;
    background-color: none;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
  
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    
}

.getStarted {
    float:right;
    background: #52de97;
}

.navbar a:hover {
    background-color: #52de97;
    color: white;
}

.title{
    font-size: 20px;
}

p {
    font-size: 1.5rem;
    line-height: 1.2;
}
 
h2 {
    color: rgb(72, 185, 72);
    font-size: 2.4rem;
}

.email-textbox{
    height: 5vh;
    width: 35%;
    text-align: center;
}

.enter-email{
    text-align: center;
    background-color: #52de97;
}

.submit-btn{
    height: 4vh;
    background: linear-gradient(white, #d9fce6);
    font-size: 20px;
    color: black;
    font-weight: bold;
    
}

.testimonial-row{
    width: 50%;
    margin: 80px auto 80px auto;
    text-align: left;
}

.test-img{
    float: left;
    border-radius: 50%;
}
.test-review{
    font-size: 15px;
    line-height: 2;
}

.icon{
    margin: 5%; 
}

.service-description{
    text-align: center;
}

.about-us{
    margin: 80px 25px; 
}

.list{
    display: flex;
    flex-direction: column;
}

.footer{
    display: flex; 
    justify-content: space-evenly;
    border-top: 2px solid #52de97;
    border-bottom: 2px solid #52de97;
    width: 100%;
}

.copyright{
    text-align: center;
}

/* MOBILE */
@media only screen and (max-width: 750px){
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }

    p{
        font-size: 1.3rem;
    }

    .header {
        display: flex;
        flex-flow: row wrap;
        text-align: center;
        align-content: space-around;
        width: 100%;
        height: 100vh;
        padding-top: 12%;
    }

    .header > * {
        padding: 0px 5%;
    }

    .enter-email {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 100%;
        height: 15vh;
        padding: 10% 0%;
    }

    .enter-email > input {
        font-size: 1rem;
        height: 45px;
        margin: 2% 0%;
    }

    .email-textbox {
        border-radius: 17% / 90%;
        width: 80%;
    }

    .submit-btn {
        border-radius: 22% / 100%;
        width: 50%;
    }

    .website-container {
        display: flex;
        justify-content: center;
        flex-flow: column nowrap;
        margin: 10% 0%;
    }

    .website-container > img {
        width: 100%;
        height: 100%;
    }

    .testimonials {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .testimonials > h2 {
        margin: 7vh 0%;
    }

    .testimonial-row {
        display: flex;
        flex-flow: column nowrap;
        text-align: center;
        width: 100%;
        padding: 0% 5%;
        margin: 5vh 0%;
    }

    .testimonial-row > p {
        padding: 5%;
    }

    .test-img {
        height: 15vh;
        align-self: center;
    }

    .hire-us, .hire-us > p {
        text-align: center;
        padding: 20% 5%;
    }

    .web-services {
        text-align: center;
        padding: 5%;
    }

    .icon-container {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        width: 100%;

    }

    .icon {
        margin: 7vh 0%;
    }

    .icon > img {
        padding-bottom: 0%;
        height: 20vh;
    }

    .about-us {
        text-align: center;
    }

    .about-us > p {
        padding: 5%;
    }

    .footer {
        display: flex;
        flex-flow: column nowrap;
        height: 90vh;
        vertical-align: left;
        padding: 0px;
        padding-left: 10%;
    }
}

/* TABLET */
@media only screen and (min-width: 751px){
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }

    h2 {
        font-size: 3.7rem;
    }

    p {
        font-size: 2rem;
    }

    .navbar{
        padding-top: 4vh;
    }

    .navbar li {
        font-size: 2rem;
    }

    .header {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        text-align: center;
        width: 100%;
        height: 100vh;
        padding-top: 12%;
    }

    .header > * {
        padding: 0% 10%;
    }

    .enter-email {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 5% 0%;
    }

    .enter-email > input {
        font-size: 1.5rem;
        height: 65px;
        margin: 2% 0%;
    }

    .email-textbox {
        border-radius: 10% / 90%;
        width: 80%;
    }

    .submit-btn {
        border-radius: 22% / 100%;
        width: 50%;
    }

    .website-container {
        display: flex;
        justify-content: center;
        flex-flow: column nowrap;
        margin: 10% 0%;
    }

    .website-container > img {
        width: 100%;
        height: 100%;
    }

    .testimonials {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        /* height: 100vh; */
        padding: 10vh 0%;
    }

    .testimonials > h2 {
        margin-bottom: 2vh;
    }

    .testimonial-row {
        display: flex;
        flex-flow: column nowrap;
        text-align: center;
        width: 100%;
        padding: 0% 5%;
        margin: 5vh 0%;
    }

    .testimonial-row > p {
        font-size: 1.7rem;
        padding: 5%;
    }

    .test-img {
        height: 15vh;
        align-self: center;
    }

    .hire-us, .hire-us > p {
        text-align: center;
        padding: 10% 5%;
    }

    .web-services {
        text-align: center;
        padding: 5%;
    }

    .icon-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        width: 100%;
    }

    .icon {
        margin: 4vh 0%;
    }

    .icon > img {
        padding-bottom: 7%;
        height: 15vh;
    }

    .about-us {
        text-align: center;
    }

    .about-us > p {
        padding: 5%;
    }

    .footer {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        height: 90vh;
        vertical-align: left;
        padding: 0px;
        padding-left: 10%;
    }

    .footer > * {
        font-size: 2rem;
    }

    .footer > .title {
        font-size: 3rem;
    }
}

/* LAPTOP */
@media only screen and (min-width: 960px){
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }

    h2 {
        font-size: 3rem;
    }

    p {
        font-size: 1.7rem;
    }

    .navbar{
        padding-top: 4vh;
    }

    .navbar li {
        font-size: 1rem;
    }

    .navbar li {
        display: inline-block;
    }

    .header {
        display: flex;
        flex-flow: row wrap;
        text-align: center;
        align-content: space-around;
        width: 100%;
        height: 70vh;
        padding-top: 12%;
    }

    .header > * {
        padding: 0% 10%;
    }

    .enter-email {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        width: 100%;
        padding: 5% 0%;
    }

    .enter-email > input {
        font-size: 1.2rem;
        height: 50px;
        margin: 0% 1%;
    }

    .email-textbox {
        border-radius: 10% / 120%;
        width: 50%;
    }

    .submit-btn {
        border-radius: 22% / 100%;
        width: 20%;
    }

    .website-container {
        display: flex;
        justify-content: space-around;
        flex-flow: row wrap;
        margin: 10% 0%;
    }

    .website-container > img {
        width: 25%;
        /* height: 20%; */
    }

    .testimonials {
        display: flex;
        flex-flow: row wrap;
        /* justify-content: center; */
        /* height: 100vh; */
        padding: 10vh 0%;
    }

    .testimonials > h2 {
        margin-bottom: 2vh;
    }

    .testimonial-row {
        display: flex;
        flex-flow: row nowrap;
        text-align: left;
        width: 100%;
        padding: 0% 15%;
        margin: 5vh 0%;
    }

    .testimonial-row > p {
        font-size: 1rem;
        padding: 5%;
    }

    .testimonial-row:last-of-type {
        flex-direction: row-reverse;
    }

    .test-img {
        height: 15vh;
        align-self: center;
    }

    .hire-us, .hire-us > p {
        text-align: center;
        padding: 10% 5%;
    }

    .web-services {
        text-align: center;
        height: 100vh;
        padding: 5%;
    }

    .icon-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        width: 100%;
    }

    .icon {
        margin: 4vh 5%;
    }

    .icon > img {
        padding-bottom: 7%;
        height: 20vh;
    }

    .about-us {
        text-align: center;
    }

    .about-us > p {
        padding: 5%;
    }

    .footer {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        height: 40vh;
        vertical-align: left;
        padding-top: 5%;
        padding-left: 10%;
    }

    .footer > * {
        font-size: 1rem;
        padding: 0% 5%;
    }

    .footer > .title {
        font-size: 2rem;
    }
}